language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: hhvm-nightly

before_script:
  - composer self-update
  - composer require satooshi/php-coveralls:dev-master --no-update --dev
  - composer install --dev --prefer-source
  - [ "$TRAVIS_PHP_VERSION" == "5.4" ] && phpenv config-add test/condig/apc.ini # enable apc for php 5.4

after_script:
  - php vendor/bin/coveralls
