language: php

dist: trusty

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  allow_failures:
    - php: 5.4

before_script:
  - composer self-update
  - composer require satooshi/php-coveralls:~1.0 --no-update --dev
  - composer install --prefer-source
  - '[ "$TRAVIS_PHP_VERSION" == "5.4" ] && phpenv config-add test/config/apc.ini || true # enable apc for php 5.4'

after_script:
  - php vendor/bin/coveralls
