<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="unit">
            <directory>test/suite/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/logs/report.junit.xml"/>
    </logging>
</phpunit>
